<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531488164104-l3k888116gbh2u5he4675o8hmrr1g1f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531488164104-l3k888116gbh2u5he4675o8hmrr1g1f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCI-CPyZ5n-W7b3H8KWQLxYyiMwl_VM9MY</string>
	<key>GCM_SENDER_ID</key>
	<string>531488164104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myemployeemanager.myEmployeeManager</string>
	<key>PROJECT_ID</key>
	<string>my-employee-manager-com</string>
	<key>STORAGE_BUCKET</key>
	<string>my-employee-manager-com.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531488164104:ios:3e9ce4ebd81493790fc4bd</string>
</dict>
</plist>